<div class="footer">
    <div class="footerTxt">
        <p style="display: inline">&copy; Comic Connections</p>
        <a href="/about">ABOUT</a> | 
        <a href="/contact">CONTACT</a>
    </div>
</div>
</body>
</html>