<div class="footer">
    <div class="footerTxt">
        <p>&copy; Comic Connections</p>
        <a href="about.ejs">ABOUT</a> | 
        <a href="contact.ejs">CONTACT</a>
    </div>
</div>
</body>
</html>