<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comic Connections</title>
        <meta name="description" content="4166 Assignment">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div class="rectangle">
            <a href="/">
                <img src="/images/logo.PNG" alt="Logo: Local Conventions" class="logo">
            </a>
            <% if(errorMessages.length > 0) {%>
                <% errorMessages.forEach(message=>{%>
                    <div class='error'>
                        <%=message%>
                    </div>
                    <%});%>
                        <%}%>
            
                            <% if(successMessages.length > 0) {%>
            
                                <% successMessages.forEach(message=>{%>
                                    <div class='success'>
                                        <%=message%>
                                    </div>
                                    <%});%>
                                        <%}%>