<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comic Connections</title>
        <meta name="description" content="4166 Assignment">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div class="rectangle">
            <a href="index.ejs">
                <img src="/images/logo.PNG" alt="Logo: Local Conventions" class="logo">
            </a>