<%- include('partials/header.ejs')%>
<h1 class="header">About</h1>
        <div class="login">
            <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="newConnection.ejs">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Register</a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/">Home</a> | 
            <a href="connections.ejs">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="text">
            <p>Comic Connections was made by a local student to help bring together people of common interests within the Charlotte area.</p>
            <p>The ultimate goal of comic connections is to help anyone feel apart of a community. Please feel free to explore any connections that are posted and feel free to register an
                account and share other connections that you wish to invite people to. 
            </p>
        </div>
    </div>
<%- include('partials/footer.ejs')%>