<%- include('../partials/header.ejs')%>
        <h1 class="header">Local Connections</h1>
        <div class="login">
            <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="newConnection.ejs">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Register</a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="index.ejs">Home</a> | 
            <a href="connections.ejs">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="text">
            <h2>Upcoming Comic Conventions</h2>
            <ul>
                <li>
                    <a href="connection.ejs">HeroesCon, June 17-19, 2022 (Charlotte, NC)</a>
                </li>
                <li>
                    <a href="connection.ejs">Giant-Size Charlotte Mini-Con, November 6-7, 2021 (Charlotte, NC)</a>
                </li>
                <li>
                    <a href="connection.ejs">Empire City Con, November 12-14, 2021 (Charlotte, NC)</a>
                </li>
            </ul>
            <h2>Local Comic Shops</h2>
            <ul>
                <li>
                    <a href="connection.ejs">Heroes Aren't Hard to Find</a>
                </li>
                <li>
                    <a href="connection.ejs">Rebel Base Comics & Toys</a>
                </li>
                <li>
                    <a href="connection.ejs">A. Pennyworth's</a>
                </li>
            </ul>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>