<%- include('../partials/header.ejs')%>
<h1 class="header">Contact</h1>
        <div class="login">
            <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="newConnection.ejs">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Register</a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="index.ejs">Home</a> | 
            <a href="connections.ejs">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="text">
            <p>Email: csteeb1@uncc.edu</p>
            <p>Please feel free to provide any feedback at the above email.</p>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>