<%- include('partials/header.ejs')%>
    <h1 class="header">Error</h1>
    <div class="login">
            <div class="loginText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="newConnection.ejs">Add a Connection</a>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a>Login</a>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a>Register</a>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="navText">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/">Home</a> | 
        <a href="connections.ejs">Connections</a>
    </div>
</div>
<div class="mainbody">
    <div class="text">
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message%> </p>
    </div>
</div>
<%- include('partials/footer.ejs')%>