<%- include('../partials/header.ejs')%>
        <h1 class="header">Comic Connections</h1>
        <div class="login">
                <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="newConnection.ejs">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Register</a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="index.ejs">Home</a> | 
            <a href="connections.ejs">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="text">
            <p>Welcome to the Comic Connections site!</p>
            <p>This website is designed to feature local comic conventions in the area of Charlotte North Carolina. Whether you have been attending conventions your whole life or are looking for your first one, you will find one for you here!</p>
            <p>You can also find featured Local Comic Shops on the connections page.</p>
            <p>Explore the Conventions page for upcoming featured conventions.</p>
            <p>Please feel free to create an account and add any upcoming conventions or local comic shops in the Charlotte area.</p>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>