/*ITIS 4166 index css file*/

.body {
    background-color: #67696B;
}
.rectangle {
    position: relative;
    bottom: 15px;
	height: 200px;
	width: 100%;
	background-color: #5599CD;
	z-index: 1;
}

.navbar {
    margin-top: 45px;
    margin-bottom: 16px;
    position: relative;
	bottom: 55px;
	height: 50px;
	width: 100%;
	background-color: #105285;
	z-index: 1;
    color: white;
}

.login {
    position: relative;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 65px;
    height: 50px;
    width: 500px;
    background-color: #105285;
    z-index: 2;
    color: white;
}

.loginText {
    padding: 10px;
}

.navText {
    padding: 10px;
}

.footerTxt a {
    color: white;
    font-size: 15px;
    padding: 15px;
}

.footerTxt {
    color: white;
}

.mainbody {
    margin-top: -65px;
    position: relative;
    height: 700px;
    width: 100%;
    background-color: #67696B;
    z-index: 1;
}

h1.header {
    position: relative;
    top: 45px;
    text-align: center;
    font-size: 50;
    color: white;
    z-index: 2;
}

.footer {
    margin-top: 5px;
    position: relative;
	height: 50px;
	width: 100%;
	background-color: #105285;
	z-index: 1;
}

a {
    color: white;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.text {
    color: white;
    text-align: center;
    position: relative;
    top: 150px;
    margin-left: 270px;
    margin-right: 270px;
    text-align: left;
}

.text p {
    font-size: 18px;
}

.text a {
    font-size: 16px;
}

.logo {
    display: block;
    position: absolute;
    width: 20%;
    height: 85%;
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: auto;
    margin-bottom: auto;
    top: 5%;
    left: 0.1%;
    z-index: 4;
}

.heroes {
    position: absolute;
    top: -225px;
    left: 80%;
}

.heroesText {
    margin-right: 500px;
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    margin-left: 270px;
    margin-right: 40%;
    text-align: left;
}

.location {
    display: inline-block;
}

#button {
    background-color: #105285;
    color: white;
    padding: 5px;
    border-radius: 5px;;
    -moz-borer-radius: 5px;
    -webkit-border-radius: 4px;
}

#button2 {
    background-color: #105285;
    color: white;
    padding: 5px;
    border-radius: 5px;;
    -moz-borer-radius: 5px;
    -webkit-border-radius: 4px;
}

#catagory {
    margin-top: 30px;
    background-color: #105285;
    color: white;
    padding: 5px;
    border-radius: 5px;;
    -moz-borer-radius: 5px;
    -webkit-border-radius: 4px;
}

#button:hover {
    background:#5599CD;
}

#button2:hover {
    background:#5599CD;
}

.text img {
    top: -120px;
}

.buttons {
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
}

.required:before {
    content:"* ";
    color:red;
}

label{
	position: relative;
	display: inline-block;
	width: 100px;
    margin: 20px;
}

.detail-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

textarea {
	position: relative;
	width:400px;
	height: 200px;
	background-color:rgb(219,241,248);
	outline: solid;
	outline-color: #5599CD;
}

input[type="text"] {
	width: 250px;
	height: 15px;
	outline: solid;
	outline-color: #5599CD;
}

input[type="date"] {
	width: 250px;
	height: 15px;
	outline: solid;
	outline-color: #5599CD;
}

label+input {
	background-color:rgb(219,241,248);
}

form {
	position: relative;
	right: 550px;
}

.forms {
    color: white;
    margin-right: auto;
    text-align: center;
}

.submit {
    position: relative;
    margin-left: 125px;
    margin-top: 20px;
}