<%- include('../partials/header.ejs')%>
<h1 class="header">About</h1>
    <%if(!user) {%>
        <div class="login2">
            <div class="loginText">
                <a href="login">Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="register">Register</a>
    <%} else {%>
        <div class="login">
            <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/connections/newConnection">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="user/profile">Profile</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="user/logout">Logout</a>
    <%}%>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/">Home</a> | 
            <a href="/connections">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="forms">
            <div class="spacer">
                <form action = "/user/login" method = "POST">
                    <div>
                        <label class="required" required>Email:</label>
                        <input type="text" id = "email" name = "email" class="required" title="Please enter your email" required>
                    </div>
                    <div>
                        <label class="required">Password:</label>
                        <input type="password" id = "password" name = "password" class="required" title="Please create a password" minlength="8" required>
                    </div>
                    <div class="submit">
                        <button id="button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>